@media all and (max-width: 480px) {
  #sidebar {
    width: 40px;
    padding: 0.42rem;
    margin: 0 auto;
    align-items: center;
    overflow: initial;
    justify-content: space-between;
  }
  #logo-image,
  .media span,
  h4:not(#sinister),
  #create-playlist,
  #playlist-list,
  .install span,
  hr,
  #user-name {
    display: none;
  }

  .fa-circle-arrow-down {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .install {
    text-align: center;
  }

  #home img {
    filter: contrast(0%);
  }

  li img {
    margin-right: 0;
  }

  #mini-logo {
    display: block;
  }

  .topbar {
    width: calc(100% - 40px);
  }

  .fa-circle-play:hover {
    font-size: 2rem
  }
}