@media all and (max-width: 480px) {
  #sidebar {
    width: 40px;
    padding: 0.42rem;
    margin: 0 auto;
    align-items: center;
    overflow: initial;
  }
  
  #logo-image {
    display: none;
  }

  .media {
    display: none;
  }

  .media.mobile {
    display: block;
  }

  .sidebar-bottom {
    display: none;
  }

  .sidebar-bottom.mobile {
    display: block;
  }

  .install.mobile {
    text-align: center;
    margin-bottom: 1.7rem;
  }

  li img {
    margin-right: 0;
  }
}