* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #a3a3a3;
}

li {
  list-style-type: none;
}

h4 {
  color: white;
  margin: 1.7rem 0 1.25rem;
}

/* Macrosezioni  */

#wrapper-up {
  height: calc(100vh - 60px);
  display: flex;
}

#wrapper-down {
  background-color: #282828;
  height: 60px;
}

#main-content {
  flex-grow: 1;
  background-color: #141922;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

/* Sidebar */

#sidebar {
  background-color: #000000;
  width: 200px;
  height: 100%;
  padding: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
  flex-shrink: 0;
}

#logo-image {
  width: 65%;
  margin-bottom: 1.7rem;
}

#logo-image img {
  width: 100%;
}

.media {
  font-weight: 700;
}

.media.mobile {
  display: none;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 0.85rem;
}

li img {
  width: 2.3rem;
  margin-right: 0.42rem;
  filter: invert(100%) sepia(2%) saturate(420%) hue-rotate(7deg) brightness(116%) contrast(0%);
}

#create-playlist {
  display: flex;
  align-items: center;
}

#plus {
  background-color: #a3a3a3;
  width: 3.3rem;
  height: 3.3rem;
  margin-right: 0.42rem;
  position: relative;
  margin-bottom: 0.85rem;
}

.playlist li {
  margin-bottom: 1.7rem;
}

.playlist li:first-child {
  margin-top: 0.85rem;
}

#plus i {
  font-size: 2.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr {
  color: #a3a3a3;
  margin: 0.85rem 0;
}

#account {
  display: flex;
  align-items: center;
}

#user-image {
width: 2.3rem;
height: 2.3rem;
}

#user-image img {
  border-radius: 50%;
  background-color: #a3a3a3;
  height: 100%;
  width: 100%;
}

#user-name {
  color: white;
  font-weight: bold;
  padding-left: 0.85rem;
}

.sidebar-bottom.mobile {
  display: none;
}

/* Contenuto Principale */

/* Topbar */

.topbar {
  background-color: #080b12;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.subscribe a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 2rem;
  margin: 1rem;
}
/* Nav */
nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav li {
  margin: 1.5rem;
  display: block;
}

/* Album */

.container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  color: white;
  font-size: 2rem;
}

h3 {
  color: white;
  font-size: 1.15rem;
}

.title {
  margin-left: 2rem;
  margin-top: 2rem;
}

.card {
  width: calc((100% / 6) - 1rem);
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.album-image img {
  width: 100%;
}

.album-title {
  text-align: center;
  margin-top: 1rem;
}

.subtitle {
  margin-top: 0.5rem;
}